.app {
  display: flex;
}

.left-column {
  background-color: #333;
  color: #fff;
  padding: 40px;
  width: 40%;
}

.left-column h2 {
  color: white
}

.info {
  padding-bottom: 50px;
  color: aqua;
}

.right-column {
  flex-grow: 1;
  padding: 20px;
}

.skills-list {
  list-style: none;
  padding: 0;
}

.skills-list li {
  margin-bottom: 10px;
}

.skill-name {
  display: inline-block;
  width: 80px;
}

.progress-bar {
  height: 10px;
  background-color: #fff;
  width: 0;
  transition: width 0.5s ease-in-out;
}

header {
  text-align: center;
}

.profile {
  margin-top: 20px;
}

.education {
  margin-top: 20px;
}

h2 {
  color: #333;
  line-height: 0.5px
}

body {
  margin: 0;

}

h1 {
  font-size: 3.2em;
}

a {
  color: #fff;
  text-decoration: none;
}